@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@font-face {
  font-family: HelveticaReg;
  src: url(../assets/Helvetica.ttf);
}
@font-face {
  font-family: HelveticaBold;
  src: url(../assets/Helvetica-Bold.ttf);
}
::selection {
  background: white;
  color: black;
}
:root {
  --mathgray: #23272b;
  --grey: #888888;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #171717;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*for Firefox based browsers*/
* {
  scrollbar-width: thin;
  scrollbar-color: var(--lg-gray) #171717;
}
body {
  background-color: #171717;
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: lowercase;
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
  padding-bottom: 3em !important;
}
.offcanvas {
  background-color: #171717;
  width: 100% !important;
  z-index: 99999999999 !important;
}
.btn-group-vertical {
  margin-top: 4em;
  width: 50% !important;
}
@media screen and (max-width: 1000px) {
  .btn-group-vertical {
    width: 100% !important;
  }
}
.container-sm {
  margin-top: 4em;
}
.spinner {
  margin-left: 40px;
}
.repo-link {
  color: white !important;
  text-decoration: none !important;
}
.mapboxgl-ctrl {
  /*against tos?*/
  display: none !important;
}
#gc {
  background-color: #171717 !important;
  border: 2px solid #75b6e7;
  border-radius: 3px !important;
}
.breadcrumb a,
#concept-corp a,
.copyrights a,
#download a {
  color: #75b6e7;
  text-decoration: none;
}
.breadcrumb a:hover,
.breadcrumb a:focus,
#concept-corp:hover,
#concept-corp:focus,
.copyrights a:hover,
.copyrights a:focus,
#download a:hover,
#download a:focus {
  color: #278cda;
  text-decoration: underline;
}
.helvetica-bold {
  font-family: HelveticaBold;
  color: #34568b;
}
.helvetica {
  font-family: HelveticaReg;
}
code p {
  color: #75b6e7 !important;
  background-color: #1e1e1e !important;
}

.bg-dk-dark {
  background-color: #171717 !important;
  color: #fff !important;
}

.btn-outline-damian {
  color: #75b6e7;
  border-color: #75b6e7;
}
.btn-damian {
  color: #000000;
  background-color: #75b6e7;
  border-color: #75b6e7;
}
.btn-outline-damian:hover,
.btn-outline-damian:focus {
  color: #000000;
  background-color: #75b6e7;
}
.btn-damian:hover,
.btn-damian:focus {
  background-color: #278cda;
  border-color: #278cda;
}
